name: "Lint R Code With JARL"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Install Jarl"
        run: |
          curl --proto '=https' --tlsv1.2 -LsSf \
            https://github.com/etiennebacher/jarl/releases/latest/download/jarl-installer.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: "Run Jarl"
        run: jarl check .
